// Navigation Styles here

.navigation{
    .flex();
    padding-top: 1%;
        
    .funbus{
        width:40%;
    }
    
    .links{
        .flex();
        justify-content: space-evenly;
        align-items: center;
        width:60%;
            
    }
}